.hotel-view{
    background-color: #fff;
    flex: 1;

    height: 80rem;
}

.gallery{
    display: flex;
}
.gallery__photo{
    width: 100%;
    display: block;
}

.overview{
    display: flex;
    justify-content: space-between;
}

.overview__heading{

}

.overview__location{
    flex: 1;
}

.overview__rating{

}

.overview__rating-average{

}